.new-card-container {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  height: 100%;
  width: 75%;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 20px;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 40px;
  margin-bottom: 0;
}
