.new-card-container {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 40px;
  width: 75%;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 40px;
  margin-bottom: 0;
}

.saved-cards {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.saved-cards .card-container {
  width: 30%;
}

h2 {
  text-align: center;
}
